.anim-icon{
            margin: 0 auto;
            width:160px;
            height: 160px;
            display:block;
            overflow: hidden;
            transform: translate3d(0,0,0);
            text-align: center;
            opacity: 1;
        }
#icon1, #icon1a{
    width: 210px;
    height: 230px;
}
#icon2, #icon2a {
    width: 210px;
    height: 210px;
}