@media only screen and (min-width:992px) and (max-width:1200px){.person-info .about_info ul li span,
.person-info .about_info ul li p{font-size:14px}
}
@media only screen and (min-width:768px) and (max-width:991px){.custom-navbar .nav li a{letter-spacing:0}
.person-info{margin-top:40px}
#contact form{padding:0px}
form{margin-top:40px}
#resume{overflow-x:hidden}
}
@media only screen and (max-width:767px){.navbar-collapse{background-color:#000;}
.custom-navbar{padding-top:0px;background-color:transparent;}
.custom-navbar .navbar-right{padding-top:0px;}
.custom-navbar .nav li.active a{color:#fff}
.custom-navbar .nav li{padding:3px 0;}
.custom-navbar .nav li a{color:#fff;font-size:21px;}
.custom-navbar .nav li a span:before{display:none;}
.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus{background-color:transparent;color:#fff;}
.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after{background:#333;color:#fff;width:0%;}
.custom-navbar .nav li a:after{background-color:#333}
.top-nav-collapse{background-color:#fff}
.custom-navbar .navbar-toggle .icon-bar{background-color:#fff}
.top-nav-collapse .navbar-toggle .icon-bar{background-color:#fff}
.custom-navbar.top-nav-collapse{box-shadow:1px 1px 3px rgba(80, 80, 80, 0.1);}
#home .container{top:34%;}
.person-info{margin-top:40px}
.about_info{margin-bottom:13px;}
.about-content .social-links a{margin-right:10px}
.exp-statis,
.rate-statis{margin-bottom:40px}
.service-block{margin-bottom:30px}
.service-reset{margin-bottom:0px}
#portfolio .type-of-work{margin-right:0px;padding-left:0px;}
#portfolio .type-of-work li{padding:0px}
.testimonial{padding:0}
#contact form{padding:0px}
form{margin-top:40px}
.skills-item{border-right:3px solid #fff;border-left:3px solid #fff;}
#skills .skill-title{margin-top:0px;margin-bottom:80px;}
.percent{font-size:12px;}
#resume{overflow-x:hidden}
}
@media only screen and (min-width:480px) and (max-width:767px){.person-info .about_info ul li{display:inline-block;width:298px;}
#portfolio .type-of-work li{padding:5px 10px}
.testimonial{padding:0 10% 1%;}
.skills-item{border-right:20px solid #fff;border-left:20px solid #fff;}
}
@media only screen and (max-width:320px){.person-info .about_info ul li p{margin-right:3px;}
.header-content h4{font-size:22px}
#skills{padding:70px 0}
}