
/*=================================================================
    Import Files
==================================================================*/

/* Fontawesome Icons */
@import url(../css/font-awesome.min.css);

@font-face {
    font-family: 'DINBold';
    src: url('../fonts/din-bold-webfont.eot');
    src: url('../fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-bold-webfont.woff') format('woff'),
         url('../fonts/din-bold-webfont.ttf') format('truetype'),
         url('../fonts/din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINLight';
    src: url('../fonts/din-light-webfont.eot');
    src: url('../fonts/din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-light-webfont.woff') format('woff'),
         url('../fonts/din-light-webfont.ttf') format('truetype'),
         url('../fonts/din-light-webfont.svg#DINLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { 
    font-family: 'DINRegular';
    src: url('../fonts/din-regular-webfont.eot');
    src: url('../fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular-webfont.woff') format('woff'),
         url('../fonts/din-regular-webfont.ttf') format('truetype'),
         url('../fonts/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINBlack';
    src: url('../fonts/din-black-webfont.eot');
    src: url('../fonts/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-black-webfont.woff') format('woff'),
         url('../fonts/din-black-webfont.ttf') format('truetype'),
         url('../fonts/din-black-webfont.svg#DINBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*=================================================================
    1. Basic Setup
==================================================================*/

body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.section-title h4 {
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    color: #333;
    padding: 7px 14px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0px;
}

.section-title h4:after {
    content: "";
    display: block;
    position: relative;
    margin-top: 0px;
    width: 50px;
    height: 1px;
    top: 8px;
    margin: auto;
    margin-bottom: 4px;
    background-color: #333;
}

/*.section-title h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative
}*/

#quote,
#statistic,
#services,
#winners,
#impact,
#global,
#journey,
#timeline,
#testimonials,
#contact {
    padding: 70px 0px;
}


/*=================================================================
    2. Navigation Bar
==================================================================*/

.custom-navbar {
    border: none;
    margin-bottom: 0;
    /*background-color: #ffffff;*/
    /*padding-top: 22px;*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.custom-navbar .nav li a {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 0;
    margin: 15px;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}

.custom-navbar .navbar-nav li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    height: 2px;
    margin: auto;
    background: transparent;
    -webkit-transition: width .3s ease, background-color .3s ease;
    -moz-transition: width .3s ease, background-color .3s ease;
    -o-transition: width .3s ease, background-color .3s ease;
    transition: width .3s ease, background-color .3s ease;
}

.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after {
    background: #fff;
    color: #ffffff;
    width: 100%;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #fff;
}

.custom-navbar .nav li.active a:after {
    width: 100%;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 17px;
    padding-right: 0;
    margin-top: 18px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #333;
    border-color: transparent;
}

.top-nav-collapse .navbar-brand {
    color: #333
}

.top-nav-collapse .nav li a {
    /*color: #333*/
}

.top-nav-collapse .nav li.active a {
    /*color: #333*/
}

.top-nav-collapse .navbar-nav li a:hover:after,
.top-nav-collapse .nav li.active > a:after {
    background: #333;
    color: #333;
    width: 100%;
}

.top-nav-collapse .navbar-nav > li > a:hover,
.top-nav-collapse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #333;
}

@media(min-width:768px) {
    .custom-navbar {
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        /*background: #ffffff;*/
        /*box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);*/
        /*padding: 10px 0;*/
    }
}


/*=================================================================
    3. Header
==================================================================*/

#home {
    /*background-color: #070707;*/
    /*background: url("http://placehold.it/1280x855") no-repeat center center fixed;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}

.overlay-strip {
    height: 100%;
    width: 100%;
    /*background-image: url("http://store6.up-00.com/2017-07/1501004971621.png");*/
    background-repeat: repeat
}



.header-inner {
    display: table;
    height: calc(100vh - 50px);
    width: 100%;
}

.header-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

/*.header-content h1 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}*/

.header-content h4 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px
}

.but-down {
    position: relative;
    bottom: 40px;
    padding-bottom: 10px;
    z-index: 999;
}

.but-down i {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 39px;
}


/*=================================================================
    4. About
==================================================================*/

.about-content .person-img img {
    border: 8px solid #fff;
    margin: auto;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.about-content .social-links {
    margin-top: 30px
}

.fantasy-social-links{
    font-size: 14px;
}
.fantasy-social-links a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    color: #333;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.fantasy-social-links a i,
.fantasy-social-links a span{
    position: relative;
    top: 0;
    left: 0; 
}
.fantasy-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #333;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}
.fantasy-social-links a:hover{
    color: #fff;
}
.fantasy-social-links a:hover:before{
    background: #333;
}

.about-content .person-info h3 {
    margin-top: 0px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.about-content .person-info h3:after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 3px;
    width: 50px;
    height: 2px;
    background-color: #333
}

.about-content .person-info .text-info {
    margin: 20px 0px 25px;
    color: #808080;
    font-size: 15px;
    line-height: 26px;
}

.person-info .about_info h4,
.about-content .languages h4
{
    margin-top:0px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.person-info .about_info ul {
    list-style: none;
    padding-left: 0px
}

.person-info .about_info ul li {
    padding-bottom: 7px;
    color: #808080;
}

.person-info .about_info ul li p {
    display: inline-block;
    width: 100px;
    font-size: 15px;
    margin-right: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.person-info .about_info ul li span {
    font-size: 16px;
}

.person-info .butt-resume {
    margin-top: 15px;
}

.person-info .butt-resume a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #333;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.person-info .butt-resume a:hover {
    border: 1px solid #333;
    background-color: transparent;
    color: #333
}

.person-info .butt-resume .reset {
    margin-left: 0px;
    color: #333;
    border: 1px solid #333;
    background-color: transparent
}

.person-info .butt-resume .reset:hover {
    background-color: #333;
    color: #fff
}


/* ================ Languages ================ */

.languages .single-lang .prog i {
    margin-right:5px
}

.languages .single-lang .lang-title h5 {
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-bottom:5px
}

.languages .single-lang {
    margin-bottom:25px
}

.languages .single-lang .fa-star-o {
    color:#808080
}


/*=================================================================
    5. Statistic
==================================================================*/

#statistic {
    background-color: #f6f6f6;
}

#statistic h4 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: #333;
    padding: 7px 14px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
    margin-top: 0px;
    z-index: 1;
}

#statistic h4:before {
    content: '';
    position: relative;
    display: block;
    width: 24px;
    height: 5px;
    background-color: #f6f6f6;
    margin:auto;
    top: 53px;
}

#statistic h4:after {
    content: '';
    position: relative;
    display: block;
    width: 31px;
    height: 1px;
    transform: rotate(90deg);
    background-color: #ddd;
    margin: auto;
    top: 26px;
}

#statistic .statistic-block {
    border: 1px solid #ddd;
    display: table;
    text-align: center;
    position: relative;
    margin: auto;
    width: 180px;
    height: 160px;
}

#statistic .statistic-block h2 {
    font: 700 3.5em/1em 'Montserrat', sans-serif;
    margin-top: 0px;
    padding: 28px 0 15px;
    margin-bottom: 0px;
    line-height: 60px;
}

#statistic .statistic-block p {
    text-transform: uppercase;
    letter-spacing: .1em;
    font: 400 12px/25px 'Quicksand', sans-serif;
}

#statistic .rate-statis .statistic-block .coin {
    position: absolute;
    font-size: 25px;
    left: 28px;
    top: 30px;
}

/*=================================================================
    6. Skills
==================================================================*/

#skills {
    padding: 95px 0;
}

#skills .skill-title {
    margin-top: 97px;
}

#skills h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top:0px;
    margin-bottom: 20px;
}

#skills .small-text-skill {
    font-weight: 400;
    line-height: 26px;
    font-size: 15px;
}

.skills-bars {
    position: relative;
    height:350px;
    opacity:0;
    -webkit-transition:opacity .3s ease-out;
    -moz-transition:opacity .3s ease-out;
    -o-transition:opacity .3s ease-out;
    transition:opacity .3s ease-out;
}

.skills-item {
    position: absolute;
    width: 25%;
    height:0;
    bottom:0;
    background: #333;
    border-right: 20px solid #fff;
    border-left: 20px solid #fff;
    -webkit-transition:height 2s ease-in-out;
    -moz-transition:height 2s ease-in-out;
    -o-transition:height 2s ease-in-out;
    transition:height 2s ease-in-out;
}

.skill1{
    left:0
}

.skill2{
    left:25%
}

.skill3{
    left:50%
}

.skill4{
    left:75%
}

.percent {
    position: absolute;
    display: block;
    width:100%;
    top: -70px;
    font-weight: 700;
    text-align: center;
    font-size: 16px
}

.percent:before {
    content: '';
    display: block;
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: #333;
    left:31%;
    top: 25px;
}

.percent:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 73px;
    background-color: #333;
    left: 48%;
    top: 25px;
}

.skills-item p {
    position: absolute;
    width: 100%;
    bottom: -40px;
    font-weight: 700;
    text-align: center;
    font-size: 16px
}

/*=================================================================
    7. Services
==================================================================*/

.services-box {
    margin-top: 3em
}

.divider {
    width: 50%;
    margin: 13px auto 15px;
    position: relative;
    height: 1px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    -moz-transform: translateZ(0) scale(1, 1);
    -o-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
}

.divider::after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -o-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: -ms-linear-gradient(left, transparent 0, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    background: linear-gradient(to right, transparent 0, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, transparent 100%);
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    left: 0;
}

.shadow,
.shadow-narrow {
    position: relative;
    background-color: #fff;
}

.service-block {
    border: 1px solid #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.shadow-narrow::before,
.shadow::before {
    position: absolute;
    left: 0;
    height: 60%;
    bottom: 0;
    width: 100%;
    content: "";
    background-color: #fff;
    z-index: 2;
}

.shadow-narrow::after,
.shadow::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 96%;
    left: 50%;
    bottom: 2px;
    margin-left: -48%;
    -webkit-box-shadow: 0 5px 7px #999;
    -moz-box-shadow: 0 5px 7px #999;
    -o-box-shadow: 0 5px 7px #999;
    box-shadow: 0 5px 7px #999;
    z-index: 1;
    border-radius: 10%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.shadow-narrow:hover::after,
.shadow:hover::after {
    bottom: 10px;
}

.icon.bg-df {
    color: #ffffff;
}

.service-block .icon {
    margin-bottom: 10px;
}

.icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    font-size: 24px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.shadow *,
.shadow-narrow * {
    position: relative;
    z-index: 3;
}

.service-block h4 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.service-block p {
    clear: both;
    margin-bottom: 0px;
    line-height: 26px;
    font-size: 15px;
    color: #808080;
}

.icon i {
    position: relative;
    z-index: 1;
    color: #333;
    font-size: 32px;
}


/*=================================================================
    8. Portfolio
==================================================================*/

#portfolio .portfolio-content {
    margin-top: 3em
}

#portfolio .type-of-work {
    margin-bottom: 10px;
    margin-right: 35px;
    cursor: default
}

#portfolio .type-of-work li {
    display: inline-block;
    background-color: transparent;
    color: #333;
    margin: 10px 5px;
    padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#portfolio .type-of-work li.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
}

.portfolio-area {
    padding-top: 90px;
    padding-bottom: 60px
}

.portfolio-menu {
    margin-bottom: 20px;
    text-align: center;
}

.grid-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-portfolio {
    position: relative;
    overflow: hidden;
}



.single-portfolio img {
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .45s;
    -moz-transition: .45s;
    -o-transition: .45s;
    transition: .45s;
    margin-right: 1px;
}

.single-portfolio:hover img {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
    margin-bottom: 1px;
}

.sin-portfolio-overlay {
    background: #000 none repeat scroll 0 0;
    height: 105%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 105%;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.sin-portfolio-icon {
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.sin-portfolio-icon a i.fa {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 38px;
    line-height: 35px;
    width: 38px;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.sin-portfolio-icon a:hover i.fa {
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
}

.single-portfolio:hover .sin-portfolio-overlay {
    opacity: .85;
}

.single-portfolio:hover .sin-portfolio-icon {
    opacity: 1;
    top: 44%;
}

.cool-link {
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}


/*=================================================================
    9. Resume
==================================================================*/

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline h2,
.timeline h3 {
    line-height: inherit;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    /*letter-spacing: 3px;*/
    margin: 0 0 .5em 0;
    white-space: nowrap;
}

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    background: #333;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    width: 3px;
    background: #333;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #333;
}

.timeline-content {
    padding-bottom: 40px;
}

.timeline-content p:last-child {
    margin-bottom: 0;
    line-height: 22px;
    /*font-size: 15px;
    color: #808080;*/
}

.period {
    padding: 0;
}

.period .timeline-info {
    display: none;
}

.period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

.period .exp-title:before {
    border-top: none
}

.period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}

.period .timeline-content {
    padding: 40px 0 70px;
}

.period .timeline-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    background-color: #333;
    display: inline-block;
    color: #fff;
    padding: 7px 14px;
    position: relative;
    letter-spacing: 1px;
}

@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-centered .timeline-item {
        padding-bottom: 70px;
        overflow: hidden;
    }
    .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
        width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .timeline-centered .timeline-item.period {
        padding: 50px 0 90px;
        padding-bottom: 30px;
    }
    .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    .timeline-centered .period .timeline-title {
        left: auto;
    }
}

.timeline-centered .timeline-reset {
    padding-bottom:0
}

/*=================================================================
    10. Hire Me
==================================================================*/

#hire {
    background: url("http://placehold.it/1280x853") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hire .hire {
    padding: 70px 0 90px;
}

#hire .hire-content h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 20px;
}

#hire .hire-content p {
    color: #fff;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 50px;
}

#hire .hire-butt a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 10px 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#hire .hire-butt a:hover {
    background-color: #333;
    border-color: #333;
}

/*=================================================================
    11. Testimonials
==================================================================*/

.testimonial-content {
    margin-top: 3em
}

.testimonial {
    text-align: center;
    margin: 50px 10px 0;
    padding: 0 10% 1%;
    background: #fff;
}

.testimonial .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-top: -50px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .description {
    font-size: 15px;
    color: #808080;
    line-height: 26px;
    margin: 10px 0 20px;
}

.testimonial .testimonial-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #333;
    font-family: 'Quicksand', sans-serif;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: #808080;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.testimonial .post:before {
    content: "";
    width: 30px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
}

.testimonial .testimonial-rating {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}

.testimonial .testimonial-rating li {
    color: #d3d3d3;
    display: inline-block;
}

.testimonial .testimonial-rating li.fa-star {
    color: #333;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-pagination {
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    line-height: 13px;
}

.owl-theme .owl-controls .owl-page span {
    width: 12px;
    height: 12px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #333;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 4px solid #333;
}


/*=================================================================
    12. Contact
==================================================================*/

#contact {
    background-color: #f6f6f6
}

#contact .contact-content {
    margin-top: 3em
}

#contact .contact-form input {
    display: block;
    margin-bottom: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
    outline-color: transparent;
}

#contact .contact-form input:focus {
    border-color: #333;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#contact .contact-form textarea {
    height: 120px;
    resize: none;
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    outline-color: transparent
}

#contact .contact-form textarea:focus {
    border-color: #333;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#contact form {
    padding: 0px 60px
}

#contact form .butt-msg {
    margin-top: 40px
}

#contact form .butt-msg input {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #333;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#contact form .butt-msg input:hover {
    border: 1px solid #333;
    background-color: transparent;
    color: #333
}

.error {
    display: none;
    padding: 10px;
    color: #D8000C;
    border-radius: 4px;
    font-size: 13px;
    background-color: #FFBABA;
}

.success {
    background-color: #00c7fc;
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 13px;
    padding: 10px;
}


/*=================================================================
    13. Footer
==================================================================*/

footer {
    padding:30px 0
}
footer .fantasy-social-links a {
    width:25px;
    height:25px;
    line-height: 25px;
}


/* ================ Back To Top ================ */

#scroll-top {
    bottom: 15px;
    position: fixed;
    right: 9px;
    display: none;
    cursor: pointer;
    z-index: 600;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #333;
}

#scroll-top i {
    color: #fff;
    font-size: 20px;
}

#scroll-top:hover {
    background-color: #fff;
    border: 1px solid #333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#scroll-top:hover > i {
    color: #333
}


/*=================================================================
    14. Preloader
==================================================================*/

#loading-mask {
    background: #f6f6f6;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 999999999;
}

.spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    position: absolute;
    font-size: 10px;
    margin: -22px 0 0 -22px;
    top: 50%;
    left: 50%;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    -moz-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    -o-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    -moz-animation-delay: -1.0s;
    -o-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    -moz-animation-delay: -0.9s;
    -o-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    -o-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


body {
    background-color: #000;
    font-family: 'DINLight';
    font-size: 16px;
}

img,iframe {
    max-width: 100%;
}

a {
    outline: 0!important;
}

.parallax-mirror {
    z-index: 2!important;
}

.mobile-show {
    display: block;
}

.mobile-hide {
    display: none;
}



.hidden {
    display: none;
}



.logo {
    width: 210px;
    height: 45px;
    margin: 17px 0 22px;
    padding: 0;
    /*height: auto;*/
    margin-left: 0!important;
}

.custom-navbar.top-nav-collapse {
    background-color: rgba(0,0,0,0.8)
}

.custom-navbar .navbar-right {
    padding-top: 21px;
}

.custom-navbar .nav li a {
    text-transform: uppercase;
    /*color: #f1eddb!important;*/
    font-size: 13px;
    font-family: 'DINRegular', sans-serif;
    margin: 15px 20px;
}

.custom-navbar .nav li.language a {
    color: #ad9967;
    /*border: 1px solid #ad9967;*/
    padding: 4px 6px;
    line-height: 15px;
    height: 21px;
    margin-top: 13px;
}

.custom-navbar .nav li.lang-ar a {
    font-size: 16px;
    padding: 2px 6px;
    line-height: 18px;
}

.container>.navbar-header {
    margin-left: 0;
}

.white-popup {
  position: relative;
  background: #000;
  padding: 50px 20px;
  width: auto;
  max-width: 960px;
  margin: 20px auto;
}

.white-popup a.open-popup-link {
    font-family: 'DINBold';
    font-size: 13px;
    color: #fff;
    padding: 8px 6px 0 66px;
    background: url(../img/icon_watch.png) no-repeat center left;
    background-size: 46px;
    width: 70px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: -15px;
    height: 48px;
}
.white-popup a.open-popup-link.read {
    background: url(../img/icon_read.png) no-repeat center left;
    background-size: 58px;
    padding: 8px 6px 0 77px;

}

.white-popup .text-content {
    padding: 0 50px;
}

.white-popup h2 {
    font-size: 38px;
    /*text-align: center;*/
    color: #fff;
    margin-bottom: 40px;
    padding: 0 50px;
}

.white-popup p {
    font-size: 31px;
    color: #fff;
    margin-bottom: 20px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
    font-size: 50px;
}

.mfp-wrap {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

.mfp-wrap {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

h1,h2,h3,h4 {
    font-family: 'DINBold', sans-serif;
    text-transform: uppercase;
}

h1 {    
    font-size: 60px;
    font-family: 'DINBlack', sans-serif;
}

h2 {
    font-size: 100px;
    line-height: 1;
}

h3 {
    font-size: 50px;
    line-height: 1;
}

h4 {
    font-size: 22px;
}

.section-title h2, .section-title h3 {
    margin: 0;
}


.but-down a{
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url(../img/icon_down.png) no-repeat center;
}

#home h1{
    color: #ece5d5;
}

#home h2{
    font-family: "DINLight", sans-serif;
    font-size: 60px;
    color: #ad9967;
}

#home {
    background: #070707;
}

#home .overlay-strip{
    background: url(../img/top_bg.png) no-repeat 68% center;
    background-size: cover;
    position: relative;

}

.parallax-window {
    background-position: 68% center!important;
}

.header-content > div {
    padding-left: 0;
    z-index: 4;
}


#particles-js {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

#particles-js canvas{
    background: transparent;
}

#quote {
    padding-top: 150px;
    background-color: #faf8f1;
    /*background-image: url(../img/quote_left_bg.jpg);*/
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    text-align: center;
    position: relative;
    z-index: 9;
}

/*#quote:after {
    content: "";
    position: absolute;
    left: 18px;
    top: 18px;
    right: 18px;
    bottom: 18px;
    border: 1px solid #5d1737;
}*/

.quote h4 {
    color: #58595b;
    text-transform: initial;
    font-family: 'DINLight', sans-serif;
    font-size: 35px;
    margin: 1px auto 60px;
    max-width: 955px;
    line-height: 1.5;
}

.quote h4 strong {
    font-family: 'DINBold', sans-serif;
}

.quote p {
    color: #917f4d;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 1px;
}

.word50,
.word51,
.word52,
.word53,
.word54,
.word55,
.word56,
.word57,
.word58 {
    font-family: 'DINBold', sans-serif!important;
}

#journey, #impact {
    margin-bottom: -1px;
}

#journey {
    background-image: url(../img/journey_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    background-color: #454647;
    position: relative;
    overflow: hidden;
    padding-bottom: 6vw;
}

#journey h2 {
    color: #f1eddb;
}

#journey h3 {
    color: #f1eddb;
}

#journey:after {
    content: " ";
    background-color: #fcf8ef;
    height: 400vw;
    width: 400vw;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -150.5vw;
    bottom: -393.5vw;
}



.timeline-item div > span {
    color: #a19063;
    font-family: 'DINBold', sans-serif;
    font-size: 26px;
}

.timeline-marker:before, .timeline-marker:after {
    background-color: #a19063;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    border-color: #a19063;
}

.timeline-centered .period .timeline-marker:after {
    height: 50px;
}

.period .timeline-marker:before {
    border: 0;
}

.timeline-centered .timeline-item.period.timeline-last {
    padding: 0;
}

.timeline-centered .timeline-item.timeline-padding {
    padding-bottom: 100px;
}

.timeline h2, .timeline h3 {
    font-size: 26px;
    font-family: 'DINBold', sans-serif;
    text-transform: initial;
}

.timeline-content p {
    color: #f1eddb;
    font-size: 16px;
}

.timeline-content p span {
   
}

.timeline-content p img {
   display: block;
   width: 90px;
   margin-top: 15px;
}



#impact {
    background-color: #fcf8ef;
    position: relative;
    overflow: hidden;
    padding-bottom: 10vw;
}

#impact:after {
    content: " ";
    background-color: #ece5d5;
    height: 400vw;
    width: 400vw;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -150.5vw;
    bottom: -393.5vw;
}

.with-icons {
    margin-top: 80px;
}



#impact .anim {
    height: 180px;
}

#global {
    background-color: #ece5d5;
}

#global .anim {
    height: 180px;
}

#impact .text-center, #global .text-center {
    margin-bottom: 60px;
}

#impact h4, #global h4 {
    font-family: "DINBlack", sans-serif;
}

#winners {
    background-color: #454647;
}

#winners h2 {
    color: #ece5d5;
    margin-bottom: 55px;
}

#winners h3 {
    color: #ece5d5;
}

#winners .quote {
    margin: 60px 0 100px;
}

#winners .quote h4 {
    max-width: none;
    color: #ece5d5;
}

.winners-hr {
    border-color: #ece5d5;
    width: 70px;
    margin-top: 50px;
}

.single-portfolio {
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5); 
}

.single-portfolio .img-holder {
    overflow: hidden;
    
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 2000px) {
    .single-portfolio .img-holder {
        margin:2px;
    }
}

.sin-portfolio-overlay {
    z-index: 2;
}

.sin-portfolio-icon {
    z-index: 3;
}

.single-portfolio .winner-text {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    margin-left: 20px;
}

.single-portfolio .winner-text span {
    color: #fff;
    font-family: 'DINRegular';
    font-size: 14px;
    text-transform: uppercase;
}

.single-portfolio .winner-text span.category {
    font-size: 11px;
}

.single-portfolio .winner-text h4 {
    color: #fff;
    text-transform: initial;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.single-portfolio:hover .sin-portfolio-icon {
    top: 34%;
}

.single-portfolio:hover .sin-portfolio-icon:before {
    /*content: "";*/
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #fff;
    left: 50%;
}

.sin-portfolio-icon a {
    font-family: 'DINBold';
    font-size: 13px;
    color: #fff;
    padding: 77px 6px 0;
    background: url(../img/icon_watch.png) no-repeat top center;
    width: 70px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 29px;

}

.sin-portfolio-icon a.read {
    background: url(../img/icon_read.png) no-repeat top center;
}

.portfolio-content .grid-item .mobile-show a {
    color: #ece5d5;
    text-transform: uppercase;
    padding-top: 10px;
    font-family: "DINBold";
    font-size: 16px;
    float: left;
}

.portfolio-content .grid-item .mobile-show a:nth-of-type(2) {
    float: right;
}

footer {
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 760px;
    padding-top: 100px;
}

footer h4 {
    color: #fff;
    font-size: 25px;
    text-transform: inherit;
    margin-bottom: 15px;
}


footer p, footer a {
    color: #f6f7fb;
    font-size: 15px;
}

footer a {
    font-size: 14px;
    font-family: "DINBold", sans-serif;
    display: inline-block;
}

footer a:hover {
    color: #f6f7fb;
}

footer .logos {
    margin: 27px 0;
}

footer .logos span {
    margin-right: 15px;
}

footer .logos span img {
    height: 70px;
    width: 70px;
}

footer .social-icons {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}

footer .social-icons li {
    float: left;
    margin-right: 11px;
    margin-bottom: 10px;
}

footer .social-icons a {
    color: #a18f67;
    border: 2px solid #a18f67;
    border-radius: 50%;
    padding: 11px 0;
    display: block;
    width: 51px;
    height: 51px;
    line-height: 1;
    font-size: 25px;
    text-align: center;
    transition: .3s;
}

footer .social-icons a:hover {
    color: #fff;
    border-color: #fff;
}




/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


@media (min-width: 992px) {

    .custom-navbar .nav li.language a {
        border: 1px solid #ad9967;
    }


    .cl-effect-5 a:hover span,
    .cl-effect-5 a:focus span {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }


    .mobile-show {
        display: none!important;
    }

    .mobile-hide {
        display: block!important;
    }

    #journey {
        background-size: contain;
    }



    .timeline-content p span {
        float: left;
        width: 80%;
    }

    .timeline-content p img {
        float: right;
        width: 14%;
        margin-top: -15px;
    }

    .timeline-content.fadeInLeft p span {
        float: right;
        width: 80%;
    }

    .timeline-content.fadeInLeft p img {
        float: left;
        width: 14%;
        margin-top: 0px;
    }

    #impact .text-center, #global .text-center {
        margin-bottom: 0px;
    }

    #impact .with-icons {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    #impact .with-icons .text-center {
        /*max-width: 250px;*/
        height: 160px;
    }

    #impact .with-icons .text-center p {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    /*#impact .with-icons .mid-col .text-center {
        margin-left: auto;
        margin-right: auto;
    }*/

    #impact .to-right {
        margin-left: 17vw;
    }

    

    #impact .to-left {
        margin-right: 16vw;
    }

    #impact .mid-col div:nth-of-type(1) h4 {

        font-size: 30px;
    }

    #impact .mid-col div:nth-of-type(2) {
        padding-top: 230px;
        height: auto;
    }

    #impact .anim {
         height: 115px; 
    }

    #impact .mobile-hide .anim {
         height: 220px; 
    }

    #global .with-icons .text-center {
        
        height: 300px;
    }

    #global .with-icons .text-center p {
        max-width: 210px;
        margin-left: auto;
        margin-right: auto;
    }

    /*#global .with-icons .mid-col .text-center {
        margin-left: auto;
        margin-right: auto;
    }*/

    #global .to-right {
        margin-left: 50px;
    }

    

    #global .to-left {
        margin-right: 50px;
    }

    #global .mid-col div:nth-of-type(1) h4 {
        
        font-size: 30px;
    }

    #global .mid-col div:nth-of-type(2) {
        padding-top: 70px;
        height: auto;
    }

    #global .anim {
        height: 105px;
    }

    #global .mobile-hide .anim {
         height: 214px; 
    }

    #home .overlay-strip {
        background-attachment: fixed;
    }
}

@media (min-width: 1350px) {

    #home .overlay-strip, .parallax-window{
        background-position: right center!important;
    }



}

@media (max-width: 767px) {
    footer .col-md-4 {
        clear: both;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 40px;
    }

    #home h1, #home h2 {
        font-size: 30px;
    }

    #quote {
        background-size: auto;
        background-position: top left;
    }

    #quote h4 {
        font-size: 19px;
    }



    .white-popup .text-content {
        padding: 0 5px;
    }

    .white-popup p {
        font-size: 18px;
    }

    .white-popup h2 {
        text-align: left;
        padding: 0 5px;
    }

}

@media screen and (max-height: 550px){
    .header-content > div {
        padding-top: 40px;
    }
}

/* Effect 5: same word slide in */
.cl-effect-5 a {
    overflow: hidden;
    padding: 0 4px;
    height: 1.2em;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    /*font-weight: 700;*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: #ad9967;
}




.nav li a:after {
    display: none!important;
}

.nav li a:after {
    display: none!important;
}


/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%; 
}
.ie9 .single-portfolio .img-holder {
    margin:2px;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
  .single-portfolio .img-holder {
    margin:2px;
    }
}

@supports (-ms-ime-align: auto) {
  .single-portfolio .img-holder {
        margin:2px;
    }
}



.rtl {
    text-align: right;
    direction: rtl;
}

.rtl .header-content > div {
    text-align: center;
}

.rtl .single-portfolio .winner-text {
    right: 20px;
    text-align: right;
}

.rtl .white-popup {
    text-align: right;
}

.rtl footer {
    text-align: right;
}

.rtl footer .social-icons {
    padding-right: 0;
}

.rtl footer .social-icons li {
    float: right;
}

.rtl .portfolio-content .grid-item .mobile-show a {
    float: right;
}

@media screen and (max-width: 991px) {
    .rtl .header-content > div {
        padding-right: 30%;
    }
}

